@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n5wbug');
  src:  url('fonts/icomoon.eot?n5wbug#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n5wbug') format('truetype'),
    url('fonts/icomoon.woff?n5wbug') format('woff'),
    url('fonts/icomoon.svg?n5wbug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wageIcon .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-wageIcon .path2:before {
  content: "\e901";
  margin-left: -1.3681640625em;
  color: rgb(35, 31, 33);
}
.icon-wageIcon .path3:before {
  content: "\e902";
  margin-left: -1.3681640625em;
  color: rgb(255, 255, 255);
}
.icon-wageIcon .path4:before {
  content: "\e903";
  margin-left: -1.3681640625em;
  color: rgb(35, 31, 33);
}
.icon-wageIcon .path5:before {
  content: "\e904";
  margin-left: -1.3681640625em;
  color: rgb(255, 255, 255);
}
.icon-wageIcon .path6:before {
  content: "\e905";
  margin-left: -1.3681640625em;
  color: rgb(145, 143, 145);
}
.icon-wageIcon .path7:before {
  content: "\e906";
  margin-left: -1.3681640625em;
  color: rgb(35, 31, 33);
}
.icon-wageIcon .path8:before {
  content: "\e907";
  margin-left: -1.3681640625em;
  color: rgb(255, 255, 255);
}
.icon-wageIcon .path9:before {
  content: "\e908";
  margin-left: -1.3681640625em;
  color: rgb(70, 67, 68);
}
.icon-wageIcon .path10:before {
  content: "\e909";
  margin-left: -1.3681640625em;
  color: rgb(35, 31, 33);
}
.icon-wageIcon .path11:before {
  content: "\e90a";
  margin-left: -1.3681640625em;
  color: rgb(61, 57, 57);
}
.icon-wageIcon .path12:before {
  content: "\e90b";
  margin-left: -1.3681640625em;
  color: rgb(70, 67, 68);
}
.icon-wageIcon .path13:before {
  content: "\e90c";
  margin-left: -1.3681640625em;
  color: rgb(35, 31, 33);
}
.icon-wageIcon .path14:before {
  content: "\e90d";
  margin-left: -1.3681640625em;
  color: rgb(255, 255, 255);
}
.icon-resourcesIcon .path1:before {
  content: "\e90e";
  color: rgb(255, 255, 255);
}
.icon-resourcesIcon .path2:before {
  content: "\e90f";
  margin-left: -0.8935546875em;
  color: rgb(35, 31, 33);
}
.icon-resourcesIcon .path3:before {
  content: "\e910";
  margin-left: -0.8935546875em;
  color: rgb(255, 255, 255);
}
.icon-resourcesIcon .path4:before {
  content: "\e911";
  margin-left: -0.8935546875em;
  color: rgb(35, 31, 33);
}
.icon-resourcesIcon .path5:before {
  content: "\e912";
  margin-left: -0.8935546875em;
  color: rgb(255, 255, 255);
}
.icon-resourcesIcon .path6:before {
  content: "\e913";
  margin-left: -0.8935546875em;
  color: rgb(35, 31, 33);
}
.icon-resourcesIcon .path7:before {
  content: "\e914";
  margin-left: -0.8935546875em;
  color: rgb(255, 255, 255);
}
.icon-profileIcon .path1:before {
  content: "\e915";
  color: rgb(255, 255, 255);
}
.icon-profileIcon .path2:before {
  content: "\e916";
  margin-left: -0.6298828125em;
  color: rgb(209, 211, 213);
}
.icon-profileIcon .path3:before {
  content: "\e917";
  margin-left: -0.6298828125em;
  color: rgb(255, 255, 255);
}
.icon-profileIcon .path4:before {
  content: "\e918";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path5:before {
  content: "\e919";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path6:before {
  content: "\e91a";
  margin-left: -0.6298828125em;
  color: rgb(129, 131, 133);
}
.icon-profileIcon .path7:before {
  content: "\e91b";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path8:before {
  content: "\e91c";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path9:before {
  content: "\e91d";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path10:before {
  content: "\e91e";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path11:before {
  content: "\e91f";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path12:before {
  content: "\e920";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path13:before {
  content: "\e921";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path14:before {
  content: "\e922";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path15:before {
  content: "\e923";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path16:before {
  content: "\e924";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path17:before {
  content: "\e925";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path18:before {
  content: "\e926";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path19:before {
  content: "\e927";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path20:before {
  content: "\e928";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path21:before {
  content: "\e929";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path22:before {
  content: "\e92a";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path23:before {
  content: "\e92b";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path24:before {
  content: "\e92c";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path25:before {
  content: "\e92d";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path26:before {
  content: "\e92e";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path27:before {
  content: "\e92f";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path28:before {
  content: "\e930";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path29:before {
  content: "\e931";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path30:before {
  content: "\e932";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path31:before {
  content: "\e933";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path32:before {
  content: "\e934";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path33:before {
  content: "\e935";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path34:before {
  content: "\e936";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path35:before {
  content: "\e937";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path36:before {
  content: "\e938";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path37:before {
  content: "\e939";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path38:before {
  content: "\e93a";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path39:before {
  content: "\e93b";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path40:before {
  content: "\e93c";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path41:before {
  content: "\e93d";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path42:before {
  content: "\e93e";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path43:before {
  content: "\e93f";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path44:before {
  content: "\e940";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path45:before {
  content: "\e941";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path46:before {
  content: "\e942";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path47:before {
  content: "\e943";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path48:before {
  content: "\e944";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path49:before {
  content: "\e945";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path50:before {
  content: "\e946";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path51:before {
  content: "\e947";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path52:before {
  content: "\e948";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path53:before {
  content: "\e949";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path54:before {
  content: "\e94a";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path55:before {
  content: "\e94b";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path56:before {
  content: "\e94c";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path57:before {
  content: "\e94d";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path58:before {
  content: "\e94e";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path59:before {
  content: "\e94f";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path60:before {
  content: "\e950";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path61:before {
  content: "\e951";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path62:before {
  content: "\e952";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path63:before {
  content: "\e953";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path64:before {
  content: "\e954";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path65:before {
  content: "\e955";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path66:before {
  content: "\e956";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path67:before {
  content: "\e957";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path68:before {
  content: "\e958";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path69:before {
  content: "\e959";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path70:before {
  content: "\e95a";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path71:before {
  content: "\e95b";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path72:before {
  content: "\e95c";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path73:before {
  content: "\e95d";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path74:before {
  content: "\e95e";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path75:before {
  content: "\e95f";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path76:before {
  content: "\e960";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path77:before {
  content: "\e961";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path78:before {
  content: "\e962";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path79:before {
  content: "\e963";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path80:before {
  content: "\e964";
  margin-left: -0.6298828125em;
  color: rgb(255, 255, 255);
}
.icon-profileIcon .path81:before {
  content: "\e965";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path82:before {
  content: "\e966";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path83:before {
  content: "\e967";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path84:before {
  content: "\e968";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path85:before {
  content: "\e969";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path86:before {
  content: "\e96a";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path87:before {
  content: "\e96b";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path88:before {
  content: "\e96c";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path89:before {
  content: "\e96d";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path90:before {
  content: "\e96e";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path91:before {
  content: "\e96f";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path92:before {
  content: "\e970";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path93:before {
  content: "\e971";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path94:before {
  content: "\e972";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path95:before {
  content: "\e973";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path96:before {
  content: "\e974";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path97:before {
  content: "\e975";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path98:before {
  content: "\e976";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path99:before {
  content: "\e977";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path100:before {
  content: "\e978";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path101:before {
  content: "\e979";
  margin-left: -0.6298828125em;
  color: rgb(129, 131, 133);
}
.icon-profileIcon .path102:before {
  content: "\e97a";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path103:before {
  content: "\e97b";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path104:before {
  content: "\e97c";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path105:before {
  content: "\e97d";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path106:before {
  content: "\e97e";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path107:before {
  content: "\e97f";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path108:before {
  content: "\e980";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path109:before {
  content: "\e981";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path110:before {
  content: "\e982";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path111:before {
  content: "\e983";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path112:before {
  content: "\e984";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path113:before {
  content: "\e985";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path114:before {
  content: "\e986";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path115:before {
  content: "\e987";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path116:before {
  content: "\e988";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path117:before {
  content: "\e989";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path118:before {
  content: "\e98a";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path119:before {
  content: "\e98b";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path120:before {
  content: "\e98c";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path121:before {
  content: "\e98d";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path122:before {
  content: "\e98e";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path123:before {
  content: "\e98f";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path124:before {
  content: "\e990";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path125:before {
  content: "\e991";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path126:before {
  content: "\e992";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path127:before {
  content: "\e993";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path128:before {
  content: "\e994";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path129:before {
  content: "\e995";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path130:before {
  content: "\e996";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path131:before {
  content: "\e997";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path132:before {
  content: "\e998";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path133:before {
  content: "\e999";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path134:before {
  content: "\e99a";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path135:before {
  content: "\e99b";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path136:before {
  content: "\e99c";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path137:before {
  content: "\e99d";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path138:before {
  content: "\e99e";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path139:before {
  content: "\e99f";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path140:before {
  content: "\e9a0";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path141:before {
  content: "\e9a1";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path142:before {
  content: "\e9a2";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path143:before {
  content: "\e9a3";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path144:before {
  content: "\e9a4";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path145:before {
  content: "\e9a5";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path146:before {
  content: "\e9a6";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path147:before {
  content: "\e9a7";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path148:before {
  content: "\e9a8";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path149:before {
  content: "\e9a9";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path150:before {
  content: "\e9aa";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path151:before {
  content: "\e9ab";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path152:before {
  content: "\e9ac";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path153:before {
  content: "\e9ad";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path154:before {
  content: "\e9ae";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path155:before {
  content: "\e9af";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path156:before {
  content: "\e9b0";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path157:before {
  content: "\e9b1";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path158:before {
  content: "\e9b2";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path159:before {
  content: "\e9b3";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path160:before {
  content: "\e9b4";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path161:before {
  content: "\e9b5";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path162:before {
  content: "\e9b6";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path163:before {
  content: "\e9b7";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path164:before {
  content: "\e9b8";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path165:before {
  content: "\e9b9";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path166:before {
  content: "\e9ba";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path167:before {
  content: "\e9bb";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path168:before {
  content: "\e9bc";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path169:before {
  content: "\e9bd";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path170:before {
  content: "\e9be";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path171:before {
  content: "\e9bf";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path172:before {
  content: "\e9c0";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path173:before {
  content: "\e9c1";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path174:before {
  content: "\e9c2";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path175:before {
  content: "\e9c3";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path176:before {
  content: "\e9c4";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path177:before {
  content: "\e9c5";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path178:before {
  content: "\e9c6";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path179:before {
  content: "\e9c7";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path180:before {
  content: "\e9c8";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path181:before {
  content: "\e9c9";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path182:before {
  content: "\e9ca";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path183:before {
  content: "\e9cb";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path184:before {
  content: "\e9cc";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path185:before {
  content: "\e9cd";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path186:before {
  content: "\e9ce";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path187:before {
  content: "\e9cf";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path188:before {
  content: "\e9d0";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path189:before {
  content: "\e9d1";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path190:before {
  content: "\e9d2";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path191:before {
  content: "\e9d3";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-profileIcon .path192:before {
  content: "\e9d4";
  margin-left: -0.6298828125em;
  color: rgb(154, 156, 158);
}
.icon-profileIcon .path193:before {
  content: "\e9d5";
  margin-left: -0.6298828125em;
  color: rgb(178, 180, 181);
}
.icon-logsIcon .path1:before {
  content: "\e9d6";
  color: rgb(255, 255, 255);
}
.icon-logsIcon .path2:before {
  content: "\e9d7";
  margin-left: -0.9287109375em;
  color: rgb(35, 31, 33);
}
.icon-logsIcon .path3:before {
  content: "\e9d8";
  margin-left: -0.9287109375em;
  color: rgb(255, 255, 255);
}
.icon-logsIcon .path4:before {
  content: "\e9d9";
  margin-left: -0.9287109375em;
  color: rgb(35, 31, 33);
}
.icon-logsIcon .path5:before {
  content: "\e9da";
  margin-left: -0.9287109375em;
  color: rgb(255, 255, 255);
}
.icon-logsIcon .path6:before {
  content: "\e9db";
  margin-left: -0.9287109375em;
  color: rgb(35, 31, 33);
}
.icon-logsIcon .path7:before {
  content: "\e9dc";
  margin-left: -0.9287109375em;
  color: rgb(255, 255, 255);
}
.icon-logsIcon .path8:before {
  content: "\e9dd";
  margin-left: -0.9287109375em;
  color: rgb(35, 31, 33);
}
.icon-logoLight .path1:before {
  content: "\e9de";
  color: rgb(1, 1, 1);
}
.icon-logoLight .path2:before {
  content: "\e9df";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logoLight .path3:before {
  content: "\e9e0";
  margin-left: -0.8359375em;
  color: rgb(1, 1, 1);
}
.icon-logoLight .path4:before {
  content: "\e9e1";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logoLight .path5:before {
  content: "\e9e2";
  margin-left: -0.8359375em;
  color: rgb(1, 1, 1);
}
.icon-logoLight .path6:before {
  content: "\e9e3";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logoLight .path7:before {
  content: "\e9e4";
  margin-left: -0.8359375em;
  color: rgb(1, 1, 1);
}
.icon-logoLight .path8:before {
  content: "\e9e5";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logoLight .path9:before {
  content: "\e9e6";
  margin-left: -0.8359375em;
  color: rgb(1, 1, 1);
}
.icon-logoLight .path10:before {
  content: "\e9e7";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logo .path1:before {
  content: "\e9e8";
  color: rgb(255, 255, 255);
}
.icon-logo .path2:before {
  content: "\e9e9";
  margin-left: -0.8359375em;
  color: rgb(35, 31, 33);
}
.icon-logo .path3:before {
  content: "\e9ea";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logo .path4:before {
  content: "\e9eb";
  margin-left: -0.8359375em;
  color: rgb(35, 31, 33);
}
.icon-logo .path5:before {
  content: "\e9ec";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logo .path6:before {
  content: "\e9ed";
  margin-left: -0.8359375em;
  color: rgb(35, 31, 33);
}
.icon-logo .path7:before {
  content: "\e9ee";
  margin-left: -0.8359375em;
  color: rgb(69, 65, 66);
}
.icon-logo .path8:before {
  content: "\e9ef";
  margin-left: -0.8359375em;
  color: rgb(101, 98, 100);
}
.icon-logo .path9:before {
  content: "\e9f0";
  margin-left: -0.8359375em;
  color: rgb(69, 65, 66);
}
.icon-logo .path10:before {
  content: "\e9f1";
  margin-left: -0.8359375em;
  color: rgb(79, 75, 77);
}
.icon-logo .path11:before {
  content: "\e9f2";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logo .path12:before {
  content: "\e9f3";
  margin-left: -0.8359375em;
  color: rgb(69, 65, 66);
}
.icon-logo .path13:before {
  content: "\e9f4";
  margin-left: -0.8359375em;
  color: rgb(101, 98, 100);
}
.icon-logo .path14:before {
  content: "\e9f5";
  margin-left: -0.8359375em;
  color: rgb(79, 75, 77);
}
.icon-logo .path15:before {
  content: "\e9f6";
  margin-left: -0.8359375em;
  color: rgb(69, 65, 66);
}
.icon-logo .path16:before {
  content: "\e9f7";
  margin-left: -0.8359375em;
  color: rgb(101, 98, 100);
}
.icon-logo .path17:before {
  content: "\e9f8";
  margin-left: -0.8359375em;
  color: rgb(79, 75, 77);
}
.icon-logo .path18:before {
  content: "\e9f9";
  margin-left: -0.8359375em;
  color: rgb(101, 98, 100);
}
.icon-logo .path19:before {
  content: "\e9fa";
  margin-left: -0.8359375em;
  color: rgb(79, 75, 77);
}
.icon-logo .path20:before {
  content: "\e9fb";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logo .path21:before {
  content: "\e9fc";
  margin-left: -0.8359375em;
  color: rgb(35, 31, 33);
}
.icon-logo .path22:before {
  content: "\e9fd";
  margin-left: -0.8359375em;
  color: rgb(255, 255, 255);
}
.icon-logo .path23:before {
  content: "\e9fe";
  margin-left: -0.8359375em;
  color: rgb(35, 31, 33);
}
.icon-linkIcon .path1:before {
  content: "\e9ff";
  color: rgb(255, 255, 255);
}
.icon-linkIcon .path2:before {
  content: "\ea00";
  margin-left: -1.068359375em;
  color: rgb(1, 1, 1);
}
.icon-linkIcon .path3:before {
  content: "\ea01";
  margin-left: -1.068359375em;
  color: rgb(255, 255, 255);
}
.icon-linkIcon .path4:before {
  content: "\ea02";
  margin-left: -1.068359375em;
  color: rgb(1, 1, 1);
}
.icon-linkIcon .path5:before {
  content: "\ea03";
  margin-left: -1.068359375em;
  color: rgb(255, 255, 255);
}
.icon-expandIcon .path1:before {
  content: "\ea04";
  color: rgb(255, 255, 255);
}
.icon-expandIcon .path2:before {
  content: "\ea05";
  margin-left: -0.9189453125em;
  color: rgb(1, 1, 1);
}
.icon-expandIcon .path3:before {
  content: "\ea06";
  margin-left: -0.9189453125em;
  color: rgb(255, 255, 255);
}
.icon-expandIcon .path4:before {
  content: "\ea07";
  margin-left: -0.9189453125em;
  color: rgb(1, 1, 1);
}
.icon-expandIcon .path5:before {
  content: "\ea08";
  margin-left: -0.9189453125em;
  color: rgb(255, 255, 255);
}
.icon-connectIcon .path1:before {
  content: "\ea09";
  color: rgb(255, 255, 255);
}
.icon-connectIcon .path2:before {
  content: "\ea0a";
  margin-left: -1.1474609375em;
  color: rgb(35, 31, 33);
}
.icon-connectIcon .path3:before {
  content: "\ea0b";
  margin-left: -1.1474609375em;
  color: rgb(255, 255, 255);
}
.icon-connectIcon .path4:before {
  content: "\ea0c";
  margin-left: -1.1474609375em;
  color: rgb(35, 31, 33);
}
.icon-connectIcon .path5:before {
  content: "\ea0d";
  margin-left: -1.1474609375em;
  color: rgb(255, 255, 255);
}
